<div class="table-responsive">
    <table class="table ">
        <tr>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-university" title="Click to flip">
                    <div data-url='@Url.Action("GetBankAccountSummary", "BankAccount")' data-tile="1">
                        <a id="nav-university">
                            <i class="fa icon-piggy7 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Accounts
                        </a>
                    </div>

                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-shopping-cart" title="Click to flip">
                    <div data-url='@Url.Action("Buy", "BuyMerchandise")' data-tile="2">
                        <a id="nav-shopping-cart">
                            <i class="fa icon-shop3 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Shop
                        </a>
                    </div>

                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-signal" title="Click to flip">
                    <div data-url='@Url.Action("GetStockView", "Stock")' data-tile="3">
                        <a id="nav-signal">
                            <i class="fa icon-man254 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Stocks
                        </a>
                    </div>

                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-graduation-cap" title="Click to flip">
                    <div data-url='@Url.Action("EducationHome", "Education")' data-tile="4">
                        <a id="nav-calendar">
                            <i class="fa icon-graduation22 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Education
                        </a>
                    </div>

                </div>
            </td>

        </tr>
        <tr>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-briefcase" title="Click to flip">
                    <div data-url='@Url.Action("GetJobs", "Job")' data-tile="5">
                        <a id="nav-briefcase">
                            <i class="fa icon-online32 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Jobs
                        </a>

                    </div>

                </div>
            </td>
            <td rowspan="2" colspan="2" class="tileFlipMax">
                <div class="tileMax" id="tile-nav-picture-o" title="Click to flip">
                    <div data-url='@Url.Action("GetBankAccountSummary", "BankAccount")' class=" flag-wrapper" data-tile="1">
                        <div class=" padding10centt flag flag-icon-background flag-icon-us"></div>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-" title="Click to flip">
                    <div data-url='@Url.Action("GetAwards", "Awards")' data-tile="6">
                        <a id="nav-trophy">
                            <i class="fa icon-trophy42 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Awards
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-umbrella" title="Click to flip">
                    <div data-url='@Url.Action("GetElections", "Election")' data-tile="7">
                        <a id="nav-umbrella">
                            <i class="fa icon-man371 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Election
                        </a>
                    </div>

                </div>
            </td>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-bank" title="Click to flip">
                    <div data-url='@Url.Action("GetUserLoans", "UserLoan")' data-tile="8">
                        <a id="nav-bank">
                            <i class="fa icon-businessman90 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Loan
                        </a>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-tasks" title="Click to flip">
                    <div data-url='@Url.Action("GetUserTasks", "UserTask")' data-tile="9">
                        <a id="nav-question-circle">
                            <i class="fa icon-task fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Task List
                        </a>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-money" title="Click to flip">
                    <div data-url='@Url.Action("GetBudgetDetails", "CountryBudget")' data-tile="10">
                        <a id="nav-question-circle">
                            <i class="fa icon-budget fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Budget
                        </a>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-ads" title="Click to flip">
                    <div data-url='@Url.Action("GetAdvertisements", "Advertisements")' data-tile="11">
                        <a id="nav-question-circle">
                            <i class="fa icon-billboard fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Ads
                        </a>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileWarning" id="tile-nav-shield" title="Click to flip">
                    <div data-url='@Url.Action("Buy", "NationalSecurity")' data-tile="12">
                        <a id="nav-shield">
                            <i class="fa icon-base1 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Security
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-tax" title="Click to flip">
                    <div data-url='@Url.Action("GetTaxDetails", "CountryTax")'
                         data-tile="15">
                        <a id="nav-tax">
                            <i class="fa icon-man249 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Tax
                        </a>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-gift" title="Click to flip">
                    <div data-url='@Url.Action("GetSendGifts", "Gift")' data-tile="16">
                        <a id="nav-gift">
                            <i class="fa icon-present3 fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Send Gift
                        </a>
                    </div>
                </div>
            </td>
            <td class="tileFlip">
                <div class="tileSuccess" id="tile-nav-party" title="Click to flip">
                    <div data-url='@Url.Action("GetParty", "PoliticalParty")' data-tile="18">
                        <a id="nav-party">
                            <i class="fa icon-candidate fa-4x colorlinkblue padding10centt"></i>
                            <br />
                            Party
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
